@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&family=Sen&display=swap");

body {
  background: #faf8ed;
  margin: 0;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 102px;
}

.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  color: #2d3134;
  font-family: Sen;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
  margin-left: 135px;
  align-items: center;
}

.navbar-logo img {
  width: 42px;
  height: 35px;
  margin-right: 5px;
}

.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-menu li {
  /* display: inline-block; */
}

.navbar-menu li a {
  /* display: inline-block; */
  padding-right: 40px;
  color: #2e476b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.16px;
}

.navbar-wrap {
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
}

.navbar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 330px;
  margin-right: 200px;
  color: #f66f4d;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  width: 170px;
  height: 54px;
  border-radius: 27px;
  border: 1.4px solid #f66f4d;
  transition: all 0.1s ease-in;
}

.navbar-btn:hover {
  transform: scale(1.04);
}

.navbar-btn img {
  width: 16px;
  height: 15px;
  margin-left: 6px;
}
